body {
  color: #1e2099; 
  background-color: #fa2424; 
  font-family: Arial, sans-serif, Georgia; 
}

h1 {
  font-family: Georgia, serif,Arial; 
}

.navbar {
  position: relative; 
  top: 1em; 
  left: 2em; 
  width: 10em; 
}


@media all {
  body {
    background-color: #fff; 
  }
}


@media print {
  body {
    background-color: #fff; 
    color: #000; 
  }
}